.md-toolbar-tools-short {
  font-size: 20px;
  letter-spacing: 0.005em;
  box-sizing: border-box;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 32px;
  max-height: 32px;
  padding: 0 8px;
  margin: 0; }


md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
 min-width: 250px !important;
 width: 250vw !important;
 max-width: 250px !important;
}


.md-accordion .expandCollapse { 
  width:10px;
  height:10px;
  position:relative;
  font-size:10px;
  font-weight:bold;
  cursor:pointer;
  color:#fff;
  display:block;
  margin-top: -2px;
  margin-left: -2px;
  overflow:hidden;
}
.md-accordion .expandCollapse:active {
  border:0px;
}
.md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
  width:10px;
  height:10px;
  display:block;
  position:absolute;
  top:0; left:0;
  line-height:16px;
  text-align:center;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}
.md-accordion .expandCollapse:before { 
  opacity:1
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  content: "|";
  margin-top:-3px;
}
.md-accordion .expandCollapse:after {
  opacity:1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  content: "|";
  margin-left:-3px;
}
.md-accordion .active:before {
  opacity:1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left:3px;
  margin-top:0px;
}

.md-accordion .dataContent {
  background: #F2F2F2;
  height:0px;
  overflow:hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.md-accordion .activeContent {
  height:auto;
  padding:3px;
  display:block;
}

.md-accordion md-toolbar{
  cursor:pointer;
  border-bottom:1px solid rgb(63,107,181)
}

.clickCard .md-button {
  padding: 0 !important;
}
.clickCard md-card {
  margin: 1px;
}
md-badge{
  margin: 0 0 0 8px;
  background-color: yellow;
  color: black;
  padding: 2px 4px;
  border-radius: 4px;
}


md-checkbox.md-checkbox-inner-container {
      height: 12px;
      width: 12px;
    }

md-checkbox.md-checkbox-label {
      line-height: 12px;
    }

md-checkbox.md-icon {transform: scale(.7)}

