 
    <md-tabs md-dynamic-height class="md-accent" md-align-tabs="top">
      <md-tab>
        <md-tab-label>My Companies</md-tab-label>
        <md-tab-body>
            <div ng-controller='mycosCtrl' ng-include="'views/mycos.htm'"></div>
        </md-tab-body>
      </md-tab>
        <md-tab>
        <md-tab-label>My Lists</md-tab-label>
        <md-tab-body>
            <div ng-controller='invCtrl' ng-include="'views/inv.htm'"></div>
        </md-tab-body>
      </md-tab>
        <md-tab>
        <md-tab-label>All Companies</md-tab-label>
        <md-tab-body>
            <div ng-controller='busiCtrl' ng-include="'views/busi.htm'"></div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  