<md-content class="md-padding md-hue-1" layout="column">



        <md-card md-theme="alt">
            <md-card-header class="md-padding" layout="row">
                <md-card-avatar style="min-width: 128px; min-height: 128px">
                    <img class="md-user-avatar" src="http://loremflickr.com/128/128/logo?random=1">
                </md-card-avatar>

                <md-card-header-text flex="80" layout="row" >
                    <div layout="column">
                        <div>
                    <span class="md-headline">{{syndication_company.name}}</span>
                            <span>-</span>
                    <span class="md-title">{{syndication_company.motto}}</span>
                        </div>
                        <span class="md-title">&nbsp</span>
                    <span class="md-subhead" layout="row"><i class="material-icons">bubble_chart</i> {{syndication_company.sector}}</span>
                    <span class="md-subhead" layout="row"><i class="material-icons">location_on</i> {{syndication_company.geography}}</span>
                    <span class="md-subhead" layout="row"><i class="material-icons">cloud</i> www.{{syndication_company.name}}.com</span>
                    <span class="md-subhead" layout="row"><i class="material-icons">group</i>50-100</span>
                    </div>
                          <div layout="column">
                    <span class="md-headline">&nbsp</span>
                    <span class="md-title">&nbsp</span>
                    <span class="md-subhead" layout="row"><i class="material-icons">hourglass_empty</i>2010</span>
                    <span class="md-subhead" layout="row"><i class="material-icons">show_chart</i> Series {{syndication_company.stage}}</span>
                    <span class="md-subhead" layout="row"><i class="material-icons">attach_money</i> $5.1m over 2 rounds</span>
                    <span class="md-subhead" layout="row"><i class="material-icons">account_balance</i> 5 investors</span>
                    </div>
                </md-card-header-text>

            </md-card-header>
   
        </md-card>

    <md-card>
        <md-card-header>
            <md-card-header-text>
                <span class="md-headline">Deal Funding Status</span>
            </md-card-header-text>
        </md-card-header>    
        
<md-card-content>

    
<rzslider rz-slider-model="slider.minValue"
          rz-slider-high="slider.maxValue"
          rz-slider-options="slider.options"></rzslider>

    
        

        </md-card-content>
        <md-button ng-if="view_only" ng-click="commit_funds($event)" class="md-raised md-primary">Commit part or all of ${{available}}m availalbe</md-button>
    </md-card>
    
    
    <md-card>
        <md-card-header> 
                    <md-card-header-text>
                <span class="md-headline">Teaser</span>
            </md-card-header-text>
            <md-button class="md-raised">Edit</md-button>
        </md-card-header>
       

        
        <md-card-content>
        <div ng-include="'views/teaser.htm'"></div>
        </md-card-content>
    </md-card>

</md-content>
