<md-content class="md-padding md-hue-1" layout-xs="column" layout="row">

    <md-card flex>
        <md-toolbar class="md-padding" layout="column">
                <span class="md-display-1">Deals Shared with Me</span>
                <input type="search" ng-model="s" placeholder="filter for deals by keyword..." aria-label="filter shared deals" />

        </md-toolbar>
    
        <md-card ng-repeat="deal in received_deals track by $index" >
            <md-card-header layout="row">
                <div style="min-height:128px">
                    <img style="max-width:128px; padding-right:15px" class="md-user-avatar" ng-src="img/{{deal.company}}.png">
                </div>
  

                <md-card-header-text  layout="row" >
                <div flex>
                    <span class="md-headline">{{deal.company}}</span>
                        <br>
                    
                    <div layout="column">
                    <span class="md-subhead" layout="row"><i class="material-icons" style="padding-right: 10px">bubble_chart</i>{{deal.sector}}</span>
                    <span class="md-subhead" layout="row"><i class="material-icons" style="padding-right: 10px">location_on</i>{{deal.geo}}</span>
                    <span class="md-subhead" layout="row"><i class="material-icons" style="padding-right: 10px">cloud</i> <a href="http://www.{{deal.company}}.com/home">www.{{deal.company}}.com</a></span>
       
                    </div>
                         
                    </div>
                </md-card-header-text>
            </md-card-header>
            
            <span>£{{deal.total_raise}}mn raise led by Adara Ventures</span>
            <img ng-src="img/{{deal.company}}progress.png">
            
                <md-card-footer>
                <md-button class="md-raised md-warn" ng-click="go_to_deal_portal($index)"> Go To Deal Portal
                </md-button> 
                <md-button class="md-raised" ng-click="decline($index)"> Decline
                </md-button> 
                </md-card-footer>
        
            </md-card>

    </md-card>

      <md-card flex >
        <md-toolbar class="md-padding md-accent" layout="column">
                <span class="md-display-1">My Live Deals</span>
                <input type="search" ng-model="l" placeholder="filter for deals by keyword..." aria-label="filter live deals" />
            
        </md-toolbar>
          
          
              <md-card ng-hide="seven_digital">
            <md-card-header layout="row">
                <div style="min-height:128px">
                <img style="max-height:54px; max-width:128px; padding-right:15px" class="md-user-avatar" ng-src="img/7digital.png">
                </div>
  
                <md-card-header-text  layout="row" >
                <div >
                    <span class="md-headline">7Digital</span>
                        <br>
                    
                    <div layout="column">
                    <span class="md-subhead" layout="row"><i class="material-icons" style="padding-right: 10px">bubble_chart</i>Digital Media</span>
                    <span class="md-subhead" layout="row"><i class="material-icons" style="padding-right: 10px">location_on</i>UK</span>
                    <span class="md-subhead" layout="row"><i class="material-icons" style="padding-right: 10px">cloud</i> <a href="http://www.7digital.com">www.7digital.com</a></span>
       
                    </div>
                         
                    </div>
                </md-card-header-text>
            </md-card-header>
            
            £22 raise led by you
            <img ng-src="img/progress2.png">
            
                <md-card-footer>
                <md-button class="md-raised md-primary" ng-click="manage_deal_portal()"> Manage Deal Portal
                </md-button> 
                <md-button class="md-raised md-accent" ng-click="close_seven_digital()"> Close
                </md-button> 
                </md-card-footer>
        
            </md-card>
          
          <md-button class="md-warn md-raised" ng-click="showDialog($event)"> Prepare new deal for private syndication </md-button>
          </md-card>

</md-content>