 
<md-tabs md-dynamic-height class="md-accent" md-align-tabs="top">
      <md-tab>
        <md-tab-label>Research Feed</md-tab-label>
        <md-tab-body>
            <div ng-controller='alphaCtrl' ng-include="'views/alpha.htm'"></div>
        </md-tab-body>
      </md-tab>
        <md-tab>
        <md-tab-label>Research Channels</md-tab-label>
        <md-tab-body>
            <div ng-controller='researchCtrl' ng-include="'views/research.htm'"></div>
        </md-tab-body>
      </md-tab>
</md-tabs>
  