 
<md-tabs md-dynamic-height class="md-accent" md-align-tabs="top">
      <md-tab>
        <md-tab-label>My Investors</md-tab-label>
        <md-tab-body>
            <div ng-controller='myinvestorsCtrl' ng-include="'views/myinvestors.htm'"></div>
        </md-tab-body>
      </md-tab>
        <md-tab>
        <md-tab-label>All Investors</md-tab-label>
        <md-tab-body>
            <div ng-controller='allinvestorsCtrl' ng-include="'views/allinvestors.htm'"></div>
        </md-tab-body>
      </md-tab>
</md-tabs>
  