<md-content class="md-padding md-hue-1" layout-padding>
    <md-card>
        <md-card-header layout="row" layout-wrap>
            <md-card-avatar flex="10">
                <img class="md-user-avatar" src="img/Cloud_Engineering.PNG">
            </md-card-avatar>
            <md-card-header-text flex layout="column">
                <span class="md-title">Jan Klug</span>
                <span class="md-subhead">Product Manager @ Go4Venture</span>
                <span class="md-subhead">Used to do tech finance, now I do fintech</span>
            </md-card-header-text>

            <md-card-actions layout="column" layout-align="start center" flex="10">
                <md-button class="md-hue md-raised">Edit</md-button>
                <md-button class="md-hue md-raised">Verfiy</md-button>

            </md-card-actions>

        </md-card-header>
    </md-card>


<md-card md-theme="alt">
        <md-card-header class="md-padding">
            <span class="md-title">Currently showing content about:</span>
        </md-card-header>

    <md-chips ng-model="selectedFilters" md-autocomplete-snap
              md-transform-chip="transformChip($chip)"
              md-require-match="RequireMatch">
      <md-autocomplete
          md-selected-item="selectedItem"
          md-search-text="searchText"
          md-items="item in querySearch(searchText)"
          md-item-text="item.name"
          placeholder="Type a filter or a category">
        <span md-highlight-text="searchText">{{item.name}} :: {{item.type}}</span>
      </md-autocomplete>
      <md-chip-template><!--Actually in charge of templating-->
        <span>
          <strong>{{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
      </md-chip-template>
        <md-chip><!--Hardcoded demo chips-->
        <span>
          <strong>Fintech</strong>
          <em>(Sector)</em>
        </span>
        </md-chip>
        <md-chip>
        <span>
          <strong>Cleantech</strong>
          <em>(Sector)</em>
        </span>
        </md-chip>
        <md-chip>
        <span>
          <strong>Germany</strong>
          <em>(Geo)</em>
        </span>
        </md-chip>
    </md-chips>
        
        </md-card>
    <md-card>
        
        <md-card-header class="md-padding">
            <span class="md-title">Available Stage topics</span>
    </md-card-header>
    
    <md-chips ng-model="stages" readonly="true">
            <md-chip-template ng-click="push_to_selected($chip)">
        <span>
          <strong>{{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
      </md-chip-template>
    </md-chips>
        
    <md-card-header class="md-padding">
            <span class="md-title">Available Sector topics</span>
    </md-card-header>
    
    <md-chips ng-model="sectors" readonly="true">
            <md-chip-template ng-click="push_to_selected($chip)">
        <span>
          <strong>{{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
      </md-chip-template>
    </md-chips>
        
        
        
        <md-card-header class="md-padding">
            <span class="md-title">Available Geography topics</span>
    </md-card-header>
    
    <md-chips ng-model="geos" readonly="true">
            <md-chip-template ng-click="push_to_selected($chip)">
        <span>
          <strong>{{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
      </md-chip-template>
    </md-chips>

    <md-card-header class="md-padding">
            <span class="md-title">All available topics</span>
    </md-card-header>
    
    <md-chips ng-model="filters" readonly="true">
                        <md-chip-template ng-click="push_to_selected($chip)">
        <span>
          <strong>{{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        </span>
      </md-chip-template>
                    </md-chips>
    
    
    </md-card>
</md-content>

