<md-tabs ng-if="nondeal" class="md-accent"  md-selected="selectedIndex"  md-align-tabs="top">
      <md-tab ng-repeat="pipeline in all_pipelines" md-on-select="change(selectedIndex)">
        <md-tab-label>{{pipeline.pipeline_name}}</md-tab-label>
      </md-tab>
          <md-tab md-on-select="showPrompt($event)">
        <md-tab-label>[ + ]</md-tab-label>
      </md-tab>
    </md-tabs>

 <md-toolbar ng-if="setup" md-theme="alt">
        
         <div class="md-toolbar-tools">
        <md-button class="md-outline" aria-label="Favorite" ng-click="go_back_to_investor_shortlist()">
          Back to Investor Shortlist
        </md-button>


        <h2 flex md-truncate>
             Preparing to syndicate {{syndication_company.name}} (Step 4 of 4)
            </h2>

        <md-button class="md-outline" aria-label="Favorite" ng-click="manage_deal_portal()">
          Next: Manage Deal Portal
        </md-button>


      </div>

</md-toolbar>

    <md-card ng-if="!nondeal&&!viewonly||!setup">
    <img src="img/pipeline_progress.png">
    </md-card>
<md-content layout=row>



<md-card md-dynamic-height flex="20" ng-repeat="stage in current_pipeline ">
    <md-card-header>
        <md-card-header-text>
            <span class="headline">{{stage.name| uppercase }}</span>
        </md-card-header-text>
    </md-card-header>
    <md-card ng-repeat="name in stage.orgs track by $index">        
        <md-card-header>
        <md-card-header-text flex="80">
            <span class="title">{{name}}</span>
        </md-card-header-text>
            <img src="img/g4v.png" style="max-width:16px;max-height:16px" ng-show="is_rec(name)">
            <md-button ng-if="stage.name=='shortlist'" class="md-icon-button md-primary" aria-label="invite" ng-click="invite_to_deal($index)">
        <md-icon >
        <i class="material-icons">email</i></md-icon>
      </md-button>
    </md-card-header>
    </md-card>
    </md-card>
    
    <md-card flex="20">
    <md-card-header>
          <md-input-container class="md-block">
        <label>Add a new stage</label>
        <input name="stage">
        
      </md-input-container>
        
        
    </md-card-header>
    
    </md-card>

</md-content>