<md-content class="md-padding md-hue-1" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="500" layout="column">
      <md-card md-theme="dark-red md-theme-watch">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Kluglesoft Inc</span>
            <span class="md-subhead">Research Update</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised">Follow</md-button>
          <md-button>Contact</md-button>
        </md-card-actions>
          <md-card-content>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
          </md-card-content>
      </md-card>
        <md-card md-theme="dark-red md-theme-watch">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Kluglesoft Inc</span>
            <span class="md-subhead">Research Update</span>
          </md-card-title-text> 
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Follow</md-button>
          <md-button>Contact</md-button>
        </md-card-actions>
          <md-card-content>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
          </md-card-content>
      </md-card><md-card md-theme="dark-red md-theme-watch">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Kluglesoft Inc</span>
            <span class="md-subhead">Research Update</span>
          </md-card-title-text> 
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Follow</md-button>
          <md-button>Contact</md-button>
        </md-card-actions>
          <md-card-content>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
          </md-card-content>
      </md-card>
    </div>
    
    
  </md-content>

 
