<md-content class="md-padding md-hue-1" layout-padding>
      
<div layout="row">
    <input type="text" flex>
    <md-button class="md-hue md-raised">Add a new List</md-button>

</div>


    
    
<md-card ng-repeat="list in company_lists">
  <md-card-header layout="row">
      <md-card-header-text flex layout="column">
      <span class="md-title">{{list.list_name}}</span>
    </md-card-header-text>
 <md-card-actions layout="row">
<!--    <md-button class="md-primary md-raised" ng-click="showPrompt($event)"> Add Company </md-button>-->
     <md-button class="md-primary md-raised" ng-click="showDialog($event)">Add Company</md-button>
    <md-button class="md-accent md-raised" ng-click="hardy(list.companies)">Delete Selected</md-button>
    <md-button class="md-warn md-raised" ng-click="delete_list(list)">Delete List</md-button>
  </md-card-actions>
  </md-card-header>
  <md-list>
  <md-list-item class="md-2-line" ng-repeat="company in list.companies track by $index">
    <md-checkbox ng-model="company.ticked"></md-checkbox>
    <div class="md-list-item-text">
      <h3>{{company.title}}</h3>
      <p>{{company.description}}</p>
    </div>
  </md-list-item>
</md-list>
</md-card>

</md-card>
      
</md-content>