<md-dialog flex>
    <md-content layout="column">
      <md-subheader>Your connections to {{company}}</md-subheader>
      <md-card ng-repeat="a in range(number)" layout="row">
          <md-card-header flex layout="column">
            <span class="md-header" >Cloney McStudent</span>
            <span class="md-subhead">Head of things</span>
        </md-card-header>
    <md-card-actions layout="row">
    <md-button class="md-primary md-raised"><md-icon><i class="zmdi zmdi-linkedin"></i></md-icon></md-button>
  </md-card-actions>
              
        <md-card>
    </md-content>
    <md-button class="md-primary" ng-click="hide_notifications()">
            Done
    </md-button>

</md-dialog>
