<md-content class="md-padding md-hue-1"layout-xs="column" layout="row">

    
      <md-sidenav md-component-id="research_left" class="md-sidenav-left" md-is-locked-open="true" layout="column">
 

            <div layout="row">
                <md-button class="md-fab md-mini" ng-click="openLeftMenu()">
                    <i class="material-icons">filter_list</i>
                </md-button>
                
                <span class="md-title">Filter these [canals]</span>
                
            </div>
            
            

            <md-card>
            <input type="search" ng-model="q" placeholder="filter your saved [canals]..." aria-label="filter searches" />
            </md-card>

     

 


        </md-sidenav>
    
    <div class='md-padding' layout="column">
    
    
    <div layout="row" layout-wrap ng-repeat="(name,list) in canal_lists track by $index">
        <md-toolbar class="md-hue-2 md-padding">
            
            {{name}}
            
        </md-toolbar>
        <md-card style="width: 250px;" ng-repeat="canal in list ">
          <!--<img src="{{channel.img}}" class="md-card-image" alt="">-->
          <md-card-content>
            <h2>{{canal.name}}</h2>
            <p>{{canal.comments}}</p>
              
                <md-chips ng-model="canal.filters" readonly="true">
                    <md-chip>{{$chip.name}}</md-chip>
                </md-chips>
          </md-card-content>

            <md-card-footer>
            <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-if="$index>0">Save</md-button>
            <md-button ng-click="go_to_alpha_with_filters(canal.filters)">View</md-button>
          </div>
            </md-card-footer>
        </md-card>

    </div>
    
    </div>

    <!--
    <div class='md-padding' layout="row" layout-wrap>

        <md-card style="width: 250px;" ng-repeat="channel in channel_lists track by $index">
          
          <md-card-content>
            <h2>{{channel.channel}}</h2>
            <p>{{channel.comments}}</p>
              
                <md-chips ng-model="channel.filters" readonly="true">
                    <md-chip>{{$chip.name}}</md-chip>
                </md-chips>
          </md-card-content>

            <md-card-footer>
            <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Save</md-button>
            <md-button ng-click="alpha_with_parameters($index)">View</md-button>
          </div>
            </md-card-footer>
        </md-card>

    </div>
    -->

</md-content>